@import "tailwindcss";

@font-face {
  font-family: "Clash Grotesk";
  src: url("/ClashGrotesk_Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: "Clash Grotesk", sans-serif;
}

:root {
  --color-theme-bg: #101010;
  --color-theme-text: #e5e5e5;
  --color-theme-muted: #9ca3af;
  --color-theme-accent: #1e88e5;
  --color-theme-accent-2: #ffb300;
}

body {
  color: #fff;
  background-color: var(--color-theme-bg);
  font-family: "Clash Grotesk", sans-serif;
}

.font-title {
  font-family: "Bespoke Stencil", sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: 1.5s ease-out fadeIn;
}
