<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="https://api.fontshare.com/v2/css?f[]=bespoke-stencil@700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">

    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1.0,minimum-scale=1.0">

    <meta name="description"
        content="K.M. Ahnaf Zamil — Backend & Systems Developer. I build the things most people don’t see — until they break. Check out my projects, blog, and more.">

    <meta name="keywords"
        content="Backend Developer, Systems Engineer, Software Developer, Real-time Systems, Distributed Systems, Ahnaf Zamil, Portfolio">

    <meta name="author" content="K.M. Ahnaf Zamil">

    <meta property="og:title" content="K.M. Ahnaf Zamil | Backend & Systems Developer">
    <meta property="og:description"
        content="I build the things most people don’t see — until they break. Explore my portfolio and projects.">
    <meta property="og:image" content="{{url_for('static', filename='img/logo.png')}}">
    <meta property="og:url" content="https://ahnafzamil.com">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="K.M. Ahnaf Zamil | Backend & Systems Developer">
    <meta name="twitter:description" content="I build the things most people don’t see — until they break.">
    <meta name="twitter:image" content="{{url_for('static', filename='img/logo.png')}}">
    <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/png">
    {% block head_extend %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen">
    <main class="flex-grow">
        {% from 'macros/common.html' import navbar, footer with context %}

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}
    </main>
</body>

</html>